<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.html') %>
        <link rel="stylesheet" href="css/index.css">
</head>

<body>

    <script>
        async function prueba() {
            const data = await fetch('http://localhost:3000/api/users')
            const json = await data.json()
            console.log(json)
        }

        prueba()
    </script>

    <header class="container">
        <h1>Tu Proxima Aventura Te Espera</h1>
        <h3>Descubre el mundo con nuestros servicios completos de viaje</h3>

        <div class="form">
            <form action="" method="POST">
                <section class="types">
                    <article>Vuelos</article>
                    <article>Hoteles</article>
                    <article>Autos</article>
                    <article>Paquetes</article>
                </section>
                <section class="filters">
                    <article class="filter">
                        <label for="origin">Origen</label>
                        <input type="text" placeholder="Ciudad o aeropuerto" name="origin">
                    </article>
                    <article class="filter">
                        <label for="destination">Destino</label>
                        <input type="text" placeholder="¿A dónde viajas?" name="destination">
                    </article>
                    <article class="filter">
                        <label for="out_date">Fecha de salida</label>
                        <input type="date" name="out_date">
                    </article>
                    <article class="filter">
                        <label for="in_date">Fecha de regreso</label>
                        <input type="date" name="in_date">
                    </article>
                    <article class="filter">
                        <label for="quantity">Pasajeros</label>
                        <select name="quantity">
                            <option value="1">1 Adulto</option>
                            <option value="2">2 Adultos</option>
                            <option value="3">3 Adultos</option>
                            <option value="4">4 Adultos</option>
                            <option value="5">5 Adultos</option>
                        </select>
                    </article>
                </section>
                <button>BUSCAR VUELOS</button>
            </form>
    </header>
</body>

</html>